.bingo-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    overscroll-behavior: none;
    margin-top: 50px;
}

.bingo-header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: 2px solid white;
    font-size: 30px;
}

.bingo-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
}

.bingo-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bingo-item-wrapper {
    padding: 10px 0;
    width: 200px;
    margin: 8px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.bingo-list-wrapper {
    height: 550px;
    overflow: scroll;
}

.bingo-button {
    cursor: pointer;
    color: white;
    background-color: #929292;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.bingo-icon {
    cursor: pointer;
    color: white;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.bingo-desc {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bingo-info-icon {
    margin-left: 6px;
}

.bingo-item {
    list-style-type:none;
    padding:0px;
    margin:0px;
}